html{
    height: 100%;
}
body{
    background-color: deepskyblue;
    height: 100%;
    text-align: center;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100%; 
     
}
.log{
    background-color: aliceblue;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 75%;
    height: 60%;
    justify-content: space-around;
}
.header{
    color:deepskyblue;
    font-size: 250%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    letter-spacing: 0.1em;
    
}

.box{
    display: flex;
    width: 70%;
    height: 10%;
    border: 20% solid deepskyblue;

    
}
#submit{
    color: black;
    background-color: aliceblue;
    border: 10% solid deepskyblue;
    border-radius: 20%;
    width: 30%;
    height: 7.5%;
    font-size: 120%;
    font-weight: bolder;
    font-family:Arial, Helvetica, sans-serif;
    transition: 0.3s;
}
#submit:hover{
    color: aliceblue;
    background-color: deepskyblue;
    cursor: pointer;
}
.remember{
    cursor: pointer;
}

.log a{
    text-decoration: none;
    font-size: medium;
    color: black;
    align-self: auto;

}
.log a:hover{
    color:deepskyblue;
    text-shadow: 0% 0% 12% black;
}

.container1{
    background-color: aliceblue;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%; 
}

#popup{
    display: flex;
    flex-direction: row;
    text-align: center;
    font-weight: bold;
    justify-content: space-around;
    
}
#okay{
    width: 150%;
}
#okay:hover{
    background-color: deepskyblue;
    color: aliceblue;
    cursor: pointer;
}